body {
    line-height: 1.5;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

ul {
    padding:0;
    list-style-type: none;
}

ul li {
    position: relative;
    padding: 0.5em;
    line-height: 1.5em;
    background: #f1f8ff;
    border-left : solid 35px #5c9ee7;
    margin-bottom: 5px;
}

ol {
    counter-reset:number; /*数字をリセット*/
    list-style-type: none!important; /*数字を一旦消す*/
    padding:0;
}

ol li{
    position: relative;
    padding: 0.5em;
    line-height: 1.5em;
    background: #f1f8ff;
    border-left : solid 35px #5c9ee7;
    margin-bottom: 5px;
}

ol li:before{
    /* 以下数字をつける */
    position: absolute;
    counter-increment: number;
    content: counter(number);
    /*数字のデザイン変える*/
    display:inline-block;
    color: white;
    font-family: 'Avenir','Arial Black','Arial',sans-serif;
    font-weight:bold;
    font-size: 15px;
    top: 50%;
    -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    left: -35px;
    width: 35px;
    height: 1em;
    line-height: 1;
    text-align:center;
}

.message {
    border-left :solid 5px #5c9ee7;
    border-bottom: solid 1px gray;
    padding: 5px
}
